<div class="container">
  <form (ngSubmit)="submit()" [formGroup]="formContainer">
      <h1 class="fr-h1">Formulaire</h1>
    <!-- ____________________________ part1_________________________________________________ -->
    <div class="step" formGroupName="part1" *ngIf="step == 1">
      <div class="sirets">
        <label for="siret">Siret</label>
        <input
          class="siret siret1"
          [ngClass]="{
            'is-invalid': siret1.errors && siret1.touched,
            'is-valid': siret1.valid
          }"
          type="number"
          id="siret"
          formControlName="siret1"
          name="siret1"
          maxlength="9"
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        />
        <input
          class="siret siret2"
          [ngClass]="{
            'is-invalid': siret2.errors && siret2.touched,
            'is-valid': siret2.valid
          }"
          type="number"
          id="siret"
          formControlName="siret2"
          name="siret2"
          maxlength="6"
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        />
      </div>
    </div>
    <!-- ____________________________________________Part2____________________________________________ -->
    <div class="step" formGroupName="part2" *ngIf="step == 2">
      <div class="sirets">
        <label for="siret">Siret</label>
        <input
          class="siret siret1"
          [ngClass]="{
            'is-invalid': siret1.errors && siret1.dirty,
            'is-valid': siret1.valid
          }"
          type="number"
          id="siret"
          formControlName="siret1"
          name="siret1"
          value="{{ siret1.value }}"
        />
        <input
          class="siret siret2"
          [ngClass]="{
            'is-invalid': siret2.errors && siret2.touched,
            'is-valid': siret2.valid
          }"
          type="number"
          id="siret"
          formControlName="siret2"
          name="siret2"
          value="{{ siret2.value }}"
        />
      </div>
      <!-- ______________________________________________________________ -->
      <div class="form-group">
        <label for="tel">Telephone</label>
        <input type="number" id="tel" formControlName="tel" name="tel" />
      </div>

      <div class="form-group">
        <label for="year">Année</label>
        <input type="number" id="year" formControlName="year" name="year" />
      </div>
    </div>
    <!-- ____________________________________________Part3____________________________________________ -->
    <div class="step" *ngIf="step == 3">
      <div class="step">YOU'RE WINNER BITCH!</div>
      <h1>Enterprise</h1>

      <p>N° Siret : {{ siret1.value + siret2.value }}</p>
      <p>Téléphone : {{ tel.value }}</p>
      <p>Date de recensement : {{ year.value }}</p>
    </div>
    <!-- ____________________________________________Validation____________________________________________ -->
    <div class="group-btn">
      <button type="button" (click)="previous()" *ngIf="step != 1">
        Previous
      </button>
      <button
        type="submit"
        *ngIf="
          formContainer.get('part1')!.status === 'VALID' ||
          formContainer.get('part2')!.status === 'VALID'
        "
      >
        Valider
      </button>
    </div>
  </form>
</div>
